.calculator{
    margin: auto;
    width : 313px;
    height: 306px;
    background-color: darkcyan;
    border: 3px solid yellow;
    border-radius: 10px;
}
.main-bar{
    text-align: right;
    float: right;
    width: 293px;
    border-radius: 4px;
    padding-top: 28px;
    margin-top: 7px;
    margin-left: 29px;
    margin-right: 5px;
}
.inp{
    font-size: 25px;
    font-weight: bolder;
}
.button{
    background: aquamarine;
    width: 46px;
    height: 43px;
    border: 2px solid black;
    border-radius: 2px;
    margin-left: 9px;
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
}
.button-plus{
    background-color: red;
    width: 67px;
    height: 43px;
    margin-left: 5px;
}
.last-btn{
    width: 28%;
    color: red;
}
